.form-password {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.form-password .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-password .form-control:focus {
  z-index: 2;
}
.form-password input[type="email"] {
  margin-bottom: -1px;
}
